package leetcode

import (
	"reflect"
	"testing"
)

type {{.Normal}}TestPair struct {
	input []
	out   
}

var {{.Normal}}TestCases = []{{.Normal}}TestPair{
	{},
}

func TestEval{{.Upper}}(t *testing.T) {
	for _, pair := range {{.Normal}}TestCases {
		var newOut = {{.Normal}}(pair.input)
		if !reflect.DeepEqual(newOut, pair.out) {
			t.Error(
				"For", pair.input,
				"expected", pair.out,
				"got", newOut,
			)
		}
	}
}
